<h1>ご登録ありがとうございます。</h1>

<p>成式会社 <%= @user.coname %> 代表取締役 <%= @user.name %> 樣,</p>

<p>アカウントを有効化するために下記のリンクよりお進みください。</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
