<h1>パスワード再設定</h1>

<p>成式会社 <%= @user.coname %> 代表取締役 <%= @user.name %> 樣,</p>

<p>パスワードの再設定を下記のリンクより進めてください。</p>

<%= link_to "Password Reset", edit_password_reset_url(@user.reset_token, email: @user.email) %>
