.form-template{
  .gravatar{
    float:left;
    margin-right:10px;
  }

  article{
    padding:10px 0;
  }

  p{
    float:left;
  }

  h1{
    padding-bottom: 50px;
  }

  .btn{
    width:100%;
  }
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

.pagination{

  a{
    padding:5px;
  }
  span{
    padding:5px;
  }
  em{
    padding:5px
  }

  .place-holder{
    float:left;
  }

  .microposts-count{
    float:left;
  }
}
