.form-template{
  .gravatar{
    float:left;
    margin-right:10px;
  }

  article{
    padding:10px 0;
  }

  p{
    float:left;
  }

  h1{
    padding-bottom: 50px;
  }

  .btn{
    width:100%;
  }
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

.pagination{

  a{
    padding:5px;
  }
  span{
    padding:5px;
  }
  em{
    padding:5px
  }

  .place-holder{
    float:left;
  }

  .microposts-count{
    float:left;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid green;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
