<footer class="bottom">
  <ul>
    <li class="f-list"><%= link_to 'Twitter','#',class:'nav-link' %></li>
    <li class="f-list"><%= link_to 'Facebook','#',class:'nav-link' %></li>
    <li class="f-list"><%= link_to 'Instagram','#',class:'nav-link' %></li>
    <li class="f-list"><%= link_to 'Naryshiki',root_path,class:'nav-link' %></li>
  </ul>
</footer>
