<footer class="fixed-bottom">
  <ul>
    <li class="f-list"><%= link_to 'Twitter','#' %></li>
    <li class="f-list"><%= link_to 'Facebook','#' %></li>
    <li class="f-list"><%= link_to 'Instagram','#' %></li>
    <li class="f-list"><%= link_to 'Naryshiki',root_path %></li>
  </ul>
</footer>
